To: %s
Subject: Secret Santa 2019!

Ho Ho Ho 

Merry Christmas %s!

I have heard you have been a very good %s this year so you are on my list to receive a secret Santa present.

However, as Christmas is also about giving you must give to receive.

Your secret Santa choice for this year is %s!


Have a lovely Christmas


Love

The Hove Santa !!!